@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
}





@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }
    #experience, .experience-details-container {
        margin-top: 3rem;
    }
    #experience {
        margin-top: 200px;
    }
    #projects {
        margin-top: 120px;
    }
    #profile, .section-container {
        display: block;
    }
    section, .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2.5rem;
    }
    .about-pic {
        height: 350px;
        width: 350px;
    }
    .about-containers {
        margin-top: 0;
    }
    #about {
        margin-top: 200px;
        top: 20vh;
    }
    .details-container {
        flex-direction: row;
    }
    .article-container {
        flex-direction: column;

    }
    .article-container article {
        justify-content: left;
    }

    .contact-info-upper-container {
        flex-direction: column;
    }

    footer .nav-links {
        gap: 0.5rem;

    }
    .menu-links.open {
        width: 400px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

    }
}

